
/*********************
      BRO STYLES
*********************/

.bro-div {
    margin-top: 5em;
    display: flex;
    justify-content: center;

}

.bro-chat {

    display: flex;
    flex-direction: column;
}

.bro-board {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}

.brow {
    margin: 0 auto;
    display         : flex;
    flex-direction  : row;
    justify-content: center;
    width: 50%;
}

.bro-spot {
    display : block;
    border  : 1px solid #e4e4e4;

}

.bro-spot img {
    height: 12em;
    width: 12em;
}

.bro-again {
    display: block;
    margin: 0 auto;
}

.hidden-bro {
    display: none;
}

.container {
    display: inline-block;
    margin: 0 auto;
}

.center-bro {
    text-align: center;
}

.sign-in-bro {
    width: 20%;
    display: flex;
    flex-direction: column;
    margin: 2em auto;
}

.info-bro {
    display: flex;
    flex-direction: column;
}


